<h1>Login</h1>
	<%= form_tag '/login' do %>
	<div class="form-inputs">
		<%= label_tag :username%>
		<%= text_field_tag :username %>
	</div>
	<div class="form-inputs">
		<%= label_tag :password%>
		<%= password_field_tag :password%>
	</div>
	<%= submit_tag "Login", :class => "ui button basic" %>
<%end%>
