<!DOCTYPE html>
<html>
  <head>
    <title>MovieTicketBooking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Welcome <%=session[:username]%></h1>
    <%= link_to 'Home', '/', :class => 'ui button basic' %> |
    <% if session[:user_id]%>
      <%= link_to 'Bookings', '/mybookings', :class => 'ui button basic' %> |
      <%= link_to 'Logout', '/logout', :class => 'ui button basic' %>
    <% else %>
      <%= link_to 'Login', '/login', :class => 'ui button basic' %> |
      <%= link_to 'Register', '/users/new', :class => 'ui button basic' %>
    <%end%>
    <%= yield %>
  </body>
</html>